.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #cfcfcf;
    padding: 10px 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:#7f7f7f;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a,.nav-links span{
    text-decoration: none;
    color:#7f7f7f;
    padding: 5px 10px;
    transition: background-color 0.3s;
    cursor: pointer
}

.nav-links a:hover,.nav-links span:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}
