.votar-codigo{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.votar-codigo form{
    display: flex;
    background-color: #f2f2f2;
    border-radius: 20px;
    justify-content: center; 
    flex-direction: column;
    width: 50%;
    padding: 36px 64px;
}

.votar-codigo .erro, .erro-escondido{
    font-size: 12px;
    margin: 8px 0;
    margin-bottom: 24px;
    display: block;
    color: red
}

.votar-codigo .erro-escondido{
    color: #f2f2f2
}