.lista-respostas{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
    width: 100%;
}
.lista-respostas .respostas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 14px;
}
.lista-respostas label{
    width: 20%;
    margin-bottom: 10px;
}
@media (max-width: 850px) {
    .lista-respostas label{
        width: 32%;
        margin-bottom: 10px;
    }
}